<div class="row pt-5">
    <!-- <div class="col-md-6 col-lg-4 col-xl-3 p-2" *ngFor="let item of cardItems"
        [ngClass]="item.attributes.posterImage.large === clickItem ? 'full' : 'slide-fwd-center'"> -->
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 p-2 slide-fwd-center" *ngFor="let item of cardItems">
        <div class="card shadow text-center">
            <div class="card-body">
                <div class="card-title">{{item.attributes.canonicalTitle}}</div>
                <img [src]="handleUndefined(item)">
                <p class="card-text"></p>
                <button type="button" class="btn btn-outline-primary" (click)="enlargeContent(item.attributes)">Go
                    Details</button>
            </div>
        </div>
    </div>
</div>
<app-card-detail [@openClose]="close_status ? 'closed' : 'open'" [detail_cont]="detail_temp"
    (close_status)="closeStatus($event)">
</app-card-detail>
<div class="search-results" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="150"
    (scrolled)="onScroll()"></div>